@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #3f5e7a;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.button {
    background-color: #1E88E5;
    color: white;
    margin: 0 auto;
}
.text{
    text-overflow: ellipsis;  
    margin-bottom: 12px;
    cursor: pointer;          
    word-break: break-all;
    overflow:hidden;         
    white-space: nowrap;
    color: white;
}
.text:hover{
    overflow: visible;       
    white-space: normal;
    height:auto;
}